

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	.count {
		font-weight: bold;
		font-size: 32px;
	}
	.info {
		display: flex;
		gap: 40px;
		font-weight: 500;
		font-size: 18px;
	}
}